@font-face {
    font-family: 'ScaleVF-ExtendedBold';
    src: url('https://fonts.adobe.com/fonts/scale-variable') format('woff2');
}
@font-face {
    font-family: 'HandsomeProRough';
    src: url('https://fonts.adobe.com/fonts/handsome-pro') format('woff2');
}
@font-face {
    font-family: 'ScaleVF-CondensedExtraLight';
    src: url('https://fonts.adobe.com/fonts/scale-variable') format('woff2');
}

:root {
    --orange: #F88F01;
    --blanc: #ECEDDF;
    --vert-fonce: #1A3324;
    --vert-clair: #88BC61;
    --violet: #8080D5;
    --font-titre: 'ScaleVF-ExtendedBold', sans-serif;
    --font-corps: 'HandsomeProRough', sans-serif;
    --font-section: 'ScaleVF-CondensedExtraLight', sans-serif;
}

h1, h2, h3 {
    margin-bottom: 20px;
    line-height: 1.2;
    font-family: var(--font-titre), serif;
}

h1 {
    font-size: 2.5rem;
    color: var(--vert-fonce);
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    color: var(--violet);
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    color: var(--orange);
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--vert-fonce);
    font-family: var(--font-corps), sans-serif;
    font-weight: normal;
}

header, nav, footer {
    height: 15vh;
}

.navbar .container .navbar-brand {
    width: 20vw;
    height: 15vh;
    background-image: url("assets/imgs/logo.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.hero-section {
    color: var(--vert-fonce);
    padding: 80px 20px;
    display: flex;
    height: 75vh;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section .btn {
    font-size: 1rem;
    margin: 10px 10px 0 0;
    width: 10vw;
}

.btn-primary {
    background-color: var(--vert-fonce);
    border-color: var(--vert-fonce);
}

.btn-primary:hover {
    background-color: var(--vert-clair);
    border-color: var(--vert-clair);
    color: var(--vert-fonce);
}

.valeurs {
    text-align: center;
    margin: 40px 0;
}

.valeurs .icon {
    font-size: 3rem;
    color: var(--violet);
    margin-bottom: 10px;
}

.valeurs p {
    color: var(--vert-fonce);
}

.mission-histoire {
    background-color: var(--vert-fonce);
    color: var(--blanc);
    padding: 50px 0;
}

.mission-histoire h3 {
    color: var(--orange);
}

.mission-histoire p {
    font-size: 1rem;
    color: var(--blanc);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-input {
    width: 45%;
}

.form-image {
    width: 50%;
    border: 1px solid black;
}

.form-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
}